[submodule "tinytapeout_scan"]
	path = tinytapeout_scan
	url = https://github.com/jix/tinytapeout_scan.git
[submodule ".github/workflows/tt_docs"]
	path = tt_docs
	url = https://github.com/TinyTapeout/tt_docs.git
